.aboutRestaurant {
  width: 100%;
  min-height: 85vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  .itemImage1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .itemImage2 {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    right: 0;
  }
  .textAbout {
    text-align: center;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    span {
      font-style: italic;
      color: #cdc5b9;
      font-size: 24px;
      font-family: "Cormorant", serif;
    }
    h2 {
      font-size: 38px;
      font-family: "Cormorant", serif;
      color: #c7a97f;
      font-weight: 400;
      margin: 15px 0;
    }
    p {
      margin: 10px 0;
      line-height: 28px;
      color: #cdc5b9;
      font-size: 16px;
      font-family: "Roboto", sans-serif;
    }
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 1px solid #c7a97f;
      transition: all 700ms;
      font-family: "Roboto", serif;
      width: 180px;
      background-color: #c7a97f;
      height: 50px;
      font-size: 15px;
      margin-top: 25px;
      position: relative;
      text-align: center;
      &:hover {
        background-color: transparent;
        z-index: 1;

        p {
          z-index: 2;
          color: #cdc5b9;
        }
      }

      p {
        color: white;
        transition: all 700ms;
      }

      .opacity {
        position: absolute;
        width: 0px;
        left: 0;
        top: 0;
        height: 50px;
        transition: all 700ms;
      }
    }
  }
}
