.ourMenu {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("/src/images/bg_our_menu.jpg");
  width: 100%;
  max-width: 100%;
  min-height: 85vh;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  .containerMenu {
    width: 80%;
    margin: 60px auto;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-around;
    .menuText {
      width: 600px;
      height: 600px;
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      img {
        width: 78px;
        height: 79px;
      }
      span {
        font-style: italic;
        color: #cdc5b9;
        font-size: 24px;
        font-family: "Cormorant", serif;
        margin-top: 30px;
      }
      h2 {
        font-size: 38px;
        font-family: "Cormorant", serif;
        color: #c7a97f;
        font-weight: 400;
        margin: 20px 0;
      }
      .text {
        margin: 10px 0;
        width: 450px;
        line-height: 27px;
        color: #cdc5b9;
        font-size: 17px;
        font-family: "Roboto", sans-serif;
      }
      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid #c7a97f;
        background-color: transparent;
        font-family: "Roboto", serif;
        width: 180px;
        height: 50px;
        font-size: 15px;
        margin-top: 25px;
        position: relative;
        &:hover {
          .opacity {
            width: 180px;
            height: 50px;
            background-color: #c7a97f;
            z-index: 1;
          }
          p {
            color: white;
            z-index: 2;
          }
        }

        p {
          color: #cdc5b9;
          transition: all 700ms;
        }

        .opacity {
          position: absolute;
          width: 0px;
          left: 0;
          top: 0;
          height: 50px;
          transition: all 700ms;
        }
      }
    }
    .menuView {
      height: 620px;
      width: 520px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 1px solid #c6ac83;
      .view {
        width: 600px;
        height: 570px;
        background-color: #0b1315;
        .category {
          width: 600px;
          height: 100px;
          border-bottom: 1px solid #393a34;
          display: flex;
          align-items: end;
          justify-content: space-evenly;
          button {
            outline: none;
            background-color: transparent;
            color: #cdc5b9;
            border: none;
            font-family: "Cormorant", serif;
            cursor: pointer;
            padding: 15px;
            font-size: 17px;
            font-weight: 600;
            &:focus {
              border-bottom: 3px solid #c7a97f;
            }
          }
        }
        .menuList {
          width: 600px;
          height: 470px;
          overflow-y: scroll;
          padding: 30px 50px;
          &::-webkit-scrollbar {
            // width: 10px;
            display: none;
          }
          // &::-webkit-scrollbar-track {
          //   border-radius: 10px;
          // }
          // &::-webkit-scrollbar-thumb {
          //   background: #0b1315;
          //   box-shadow: inset 0 0 5px rgb(58, 58, 58);
          //   border-radius: 10px;
          // }
          .product {
            margin-bottom: 20px;
            display: flex;
            align-items: start;
            justify-content: space-between;
            .head {
              font-family: "Cormorant", serif;
              color: #c7a97f;
              h2 {
                font-size: 18px;
              }
              p {
                margin: 5px 0;
                font-family: "Roboto", serif;
                color: #cdc5b9;
                font-size: 14px;
              }
            }
            .price {
              p {
                font-size: 27px;
                font-family: "Cormorant", serif;
                color: #c7a97f;
              }
            }
          }
        }
      }
    }
  }
}

.loaderCenterCards {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .fa-spin {
    font-size: 55px;
    color: #c7a97f;
  }
}

@media only screen and (min-width: 280px) and (max-width: 350px) {
  .ourMenu {
    min-height: auto;
    .containerMenu {
      display: grid;
      grid-template-columns: auto;
      .menuText {
        width: 270px;
        height: 600px;
        img {
          width: 50px;
          height: 50px;
        }
        span {
          font-size: 20px;
        }
        h2 {
          font-size: 30px;
          margin: 10px 0;
        }
        .text {
          width: 280px;
        }
        .btn {
          width: 150px;
          height: 40px;
          font-size: 12px;
          &:hover {
            .opacity {
              width: 150px;
              height: 40px;
            }
          }
          .opacity {
            height: 40px;
          }
        }
      }
      .menuView {
        height: 620px;
        width: 250px;
        .view {
          width: 250px;
          height: auto;
          .category {
            width: 250px;
            height: auto;
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            justify-content: center;
            button {
              padding: 10px;
              font-size: 15px;
            }
          }
          .menuList {
            width: 280px;
            height: 470px;
            .product {
              .head {
                h2 {
                  font-size: 15px;
                }
                p {
                  margin: 5px 0;
                  font-size: 12px;
                }
              }
              .price {
                p {
                  font-size: 24px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 351px) and (max-width: 480px) {
  .ourMenu {
    min-height: auto;
    .containerMenu {
      display: grid;
      grid-template-columns: auto;
      .menuText {
        width: 330px;
        height: auto;
        margin: 40px 0;
        img {
          width: 50px;
          height: 50px;
        }
        span {
          font-size: 20px;
        }
        h2 {
          font-size: 30px;
          margin: 10px 0;
        }
        .text {
          width: 320px;
        }
        .btn {
          width: 150px;
          height: 40px;
          font-size: 12px;
          &:hover {
            .opacity {
              width: 150px;
              height: 40px;
            }
          }
          .opacity {
            height: 40px;
          }
        }
      }
      .menuView {
        height: 620px;
        width: 330px;
        .view {
          width: 330px;
          height: auto;
          .category {
            width: 330px;
            height: auto;
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            justify-content: center;
            button {
              padding: 10px;
              font-size: 15px;
            }
          }
          .menuList {
            width: 330px;
            height: 470px;
            .product {
              .head {
                h2 {
                  font-size: 18px;
                }
                p {
                  margin: 5px 0;
                  font-size: 14px;
                }
              }
              .price {
                p {
                  font-size: 26px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .ourMenu {
    min-height: auto;
    .containerMenu {
      display: grid;
      grid-template-columns: auto;
      .menuText {
        width: 460px;
        height: auto;
        margin: 40px 0;
        img {
          width: 55px;
          height: 55px;
        }
        span {
          font-size: 22px;
        }
        h2 {
          font-size: 32px;
          margin: 10px 0;
        }
        .text {
          width: 450px;
        }
        .btn {
          width: 160px;
          height: 45px;
          font-size: 14px;
          &:hover {
            .opacity {
              width: 160px;
              height: 45px;
            }
          }
          .opacity {
            height: 45px;
          }
        }
      }
      .menuView {
        height: 620px;
        width: 460px;
        .view {
          width: 460px;
          height: auto;
          .category {
            width: 460px;
            height: 60px;
            button {
              padding: 10px;
              font-size: 15px;
            }
          }
          .menuList {
            width: 460px;
            height: 470px;
            .product {
              .head {
                h2 {
                  font-size: 19px;
                }
                p {
                  margin: 5px 0;
                  font-size: 15px;
                }
              }
              .price {
                p {
                  font-size: 26px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .ourMenu {
    min-height: auto;
    .containerMenu {
      display: grid;
      grid-template-columns: auto;
      .menuText {
        width: 700px;
        height: auto;
        margin: 40px 0;
        img {
          width: 55px;
          height: 55px;
        }
        span {
          font-size: 22px;
        }
        h2 {
          font-size: 32px;
          margin: 10px 0;
        }
        .text {
          width: 690px;
        }
        .btn {
          width: 160px;
          height: 45px;
          font-size: 14px;
          &:hover {
            .opacity {
              width: 160px;
              height: 45px;
            }
          }
          .opacity {
            height: 45px;
          }
        }
      }
      .menuView {
        height: 620px;
        width: 680px;
        .view {
          width: 700px;
          height: auto;
          .category {
            width: 700px;
            height: 80px;
            button {
              padding: 10px;
              font-size: 17px;
            }
          }
          .menuList {
            width: 700px;
            height: 470px;
            .product {
              .head {
                h2 {
                  font-size: 19px;
                }
                p {
                  margin: 5px 0;
                  font-size: 15px;
                }
              }
              .price {
                p {
                  font-size: 26px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1230px) {
  .ourMenu {
    min-height: auto;
    .containerMenu {
      display: grid;
      grid-template-columns: auto;
      .menuText {
        width: 950px;
        height: auto;
        margin: 40px 0;
        img {
          width: 60px;
          height: 60px;
        }
        span {
          font-size: 23px;
        }
        h2 {
          font-size: 35px;
          margin: 15px 0;
        }
        .text {
          width: 940px;
        }
        .btn {
          width: 180px;
          height: 50px;
          font-size: 16px;
          &:hover {
            .opacity {
              width: 180px;
              height: 50px;
            }
          }
          .opacity {
            height: 50px;
          }
        }
      }
      .menuView {
        height: 620px;
        width: 920px;
        .view {
          width: 950px;
          height: auto;
          .category {
            width: 950px;
            height: 80px;
            button {
              padding: 10px;
              font-size: 18px;
            }
          }
          .menuList {
            width: 950px;
            height: 470px;
            .product {
              .head {
                h2 {
                  font-size: 20px;
                }
                p {
                  margin: 5px 0;
                  font-size: 16px;
                }
              }
              .price {
                p {
                  font-size: 27px;
                }
              }
            }
          }
        }
      }
    }
  }
}
