.accountPages {
  width: 80%;
  margin: 60px auto;
  .accountPage {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-around;
    min-height: 50vh;
    .nav {
      width: 20%;
      border-right: 1px solid #ffffff33;
      font-family: "Cormorant", serif;
      a {
        color: #a5a099;
        transition: all 600ms;
        &:hover {
          color: #c7a97f;
        }
      }
      .active {
        color: #c7a97f;
      }
      h2 {
        font-size: 23px;
        line-height: 60px;
      }
    }
    .dashboard {
      width: 80%;
      font-family: "Roboto", serif;
      margin-left: 50px;
      h3 {
        color: #c7a97f;
      }
      p {
        margin-top: 20px;
        color: #a5a099;
        font-size: 17px;
        line-height: 27px;
        a {
          color: #c7a97f;
        }
      }
    }
  }
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
  .accountPages {
    .accountPage {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 50px;
      min-height: auto !important;
      .nav {
        width: 100% !important;
        border-right: none !important;
        height: 100px;
        display: grid;
        align-items: center;
        grid-template-columns: auto auto;
        gap: 20px;
        h2 {
          font-size: 21px !important;
          line-height: 20px !important;
        }
      }
      .dashboard {
        width: 100%;
        margin-left: 0px;

        p {
          margin-top: 0px;
          font-size: 17px;
        }
      }
    }
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .accountPages {
    .accountPage {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 40px;
      min-height: auto !important;
      .nav {
        width: 100% !important;
        border-right: none !important;
        height: 100px;
        display: grid;
        align-items: center;
        grid-template-columns: auto auto auto;
        gap: 10px;
        h2 {
          font-size: 21px !important;
          line-height: 10px !important;
        }
      }
      .dashboard {
        width: 100%;
        margin-left: 0px;

        p {
          margin-top: 0px;
          font-size: 17px;
        }
      }
    }
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .accountPages {
    .accountPage {
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: space-around;
      min-height: auto !important;
      .nav {
        width: 30%;
        h2 {
          font-size: 23px;
          margin: 20px 0 !important;
          line-height: 30px !important;
        }
      }
      .dashboard {
        width: 70%;
        margin-left: 50px;
        p {
          margin-top: 20px;
          font-size: 17px;
          line-height: 27px;
        }
      }
    }
  }
}
