.appointment {
  width: 100%;
  max-width: 100%;
  .appointmentPage {
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.55),
        rgba(0, 0, 0, 0.55)
      ),
      url("/src/images/bg-book-a-table.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .headers {
      margin-top: 80px;
      h2 {
        font-size: 65px;
        font-family: "Cormorant", serif;
        color: #c7a97f;
        font-weight: 400;
        margin: 15px 0;
      }
      p {
        width: 600px;
        color: #cdc5b9;
        font-size: 20px;
        line-height: 40px;
        font-family: "Roboto", sans-serif;
      }
    }
  }
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
  .appointment {
    .appointmentPage {
      width: 100%;
      height: 50vh;
      .headers {
        margin-top: 0px;
        h2 {
          font-size: 30px;
        }
        p {
          width: 260px;
          font-size: 16px;
          line-height: 25px;
        }
      }
    }
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .appointment {
    .appointmentPage {
      width: 100%;
      height: 45vh;
      .headers {
        margin-top: 0px;
        h2 {
          font-size: 32px;
        }
        p {
          width: 460px;
          font-size: 17px;
          line-height: 25px;
        }
      }
    }
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .appointment {
    .appointmentPage {
      width: 100%;
      height: 40vh;
      .headers {
        margin-top: 0px;
        h2 {
          font-size: 38px;
        }
        p {
          width: 600px;
          font-size: 19px;
          line-height: 25px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1100px) {
  .appointment {
    .appointmentPage {
      width: 100%;
      height: 50vh;
      .headers {
        margin-top: 0px;
        h2 {
          font-size: 40px;
        }
        p {
          width: 700px;
          font-size: 19px;
          line-height: 25px;
        }
      }
    }
  }
}
